<?xml version="1.0" encoding="utf-8"?>
<Package xmlns="http://schemas.microsoft.com/appx/2010/manifest" xmlns:m2="http://schemas.microsoft.com/appx/2013/manifest">

  <Identity Name="7ad6e21b-5680-4c7f-8add-ccb275ad520b"
            Publisher="CN=keisuke"
            Version="1.0.0.0" />

  <Properties>
    <DisplayName>Tetris4ws</DisplayName>
    <PublisherDisplayName>keisuke</PublisherDisplayName>
    <Logo>Assets\StoreLogo.png</Logo>
  </Properties>

  <Prerequisites>
    <OSMinVersion>6.3.0</OSMinVersion>
    <OSMaxVersionTested>6.3.0</OSMaxVersionTested>
  </Prerequisites>

  <Resources>
    <Resource Language="x-generate"/>
  </Resources>

  <Applications>
    <Application Id="App"
        Executable="$targetnametoken$.exe"
        EntryPoint="Tetris4ws.App">
        <m2:VisualElements
            DisplayName="Tetris4ws"
            Square150x150Logo="Assets\Logo.png"
            Square30x30Logo="Assets\SmallLogo.png"
            Description="Tetris4ws"
            ForegroundText="light"
            BackgroundColor="#464646">
            <m2:SplashScreen Image="Assets\SplashScreen.png" />
        </m2:VisualElements>
    </Application>
  </Applications>
  <Capabilities>
    <Capability Name="internetClient" />
  </Capabilities>
</Package>